<h1>Your list has been cleared!</h1>
<p><a href="/items">Back to list.</a></p>
@* Because our new DeleteAll() route returns View(), it will automatically look for a view file matching the route name. The route is named DeleteAll() and exists on the ItemsController, so we'll need a DeleteAll.cshtml file in Views/Items *@